<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>CSS Prepare</title>
</head>
<body><div id="body">
  
  <div id='crest'>
    <h1>CSS Prepare <em>experimental alpha</em></h1>
    <ul id='nav'>
      <li><a href='/'>Add some CSS</a></li>
      <li><a href='/documentation'>How this works</a></li>
      <li><a href='/problems'>Having problems?</a></li>
      <li><a href='http://github.com/norm/CSS-Prepare/'>Source on
            github</a></li>
      <li>A project by <a href='http://marknormanfrancis.com/'>Mark 
            Norman Francis</a></li>
    </ul>
  </div>
  
  <h1>404 page not found</h1>
  <p>Soz.</p>
  
</div></body>
</html>
