<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>CSS Prepare</title>
  <link rel="stylesheet" href="/raw/AKHp7jHEoCvnrjta9dEllHOKJ+Y/optimised.css">
  <!-- that's right, you can view the original CSS by editing that URL -->
</head>
<body><div id="body">
  
  <div id='crest'>
    <h1>CSS Prepare <em>experimental alpha</em></h1>
    <ul id='nav'>
      <li><a href='/'>Add some CSS</a></li>
      <li><a href='/documentation'>How this works</a></li>
      <li><a href='/problems'>Having problems?</a></li>
      <li><a href='http://github.com/norm/CSS-Prepare/'>Source on
            github</a></li>
      <li>A project by <a href='http://marknormanfrancis.com/'>Mark 
            Norman Francis</a></li>
    </ul>
  </div>
  
  <p id='note'>Any CSS entered will be saved and made available via this site
    for future reference, and may be analysed to help improve this project.</p>
  
  <form action="/new/" method="post" accept-charset="utf-8"><div>
    <textarea name="css" rows="10" cols="80">{{$css}}</textarea>
    <input type="checkbox" name="optimise" value="optimise" id="optimise" {{
        return q(checked="checked") if $optimise;
    }}>
    <label for="optimise">Optimise?
      <span>(<a href='/documentation#optimising-css-warning'>why this might
        be a bad idea</a>)</span></label>
    <input type="submit" name="submit" value="submit" id="submit">
  </div></form>
  
  <div id="results">
    <h2>{{ $optimise ? 'Optimised' : 'Standard' }} output 
      {{ $flagged ? '<em>(flagged as having a problem)</em>' : '' }}</h2>
    <form action="/flag/" method="post" id="flag"><div>
      <input type="hidden" name="sha1" value="{{$sha1}}">
      <input type="hidden" name="flag" value="{{ 
             $flagged ? 'unflag' : 'flag' }}">
      <button class="{{ $flagged ? 'unflag' : 'flag' }}" type="submit">{{ 
               $flagged ? 'Mark result as working'
                        : 'Mark result as containing a problem'
         }}</button>
    </div></form>
    
    {{
        if ( 0 != $error_count ) {
            $OUT .= "<h3>Errors</h3><ul id='errors'>\n";
            foreach my $error ( @errors ) {
                my $level    = $error->{'level'};
                my $text     = $error->{'text'};
                my $selector = $error->{'selector'};

                $OUT .= "<li><em>$level</em>: <q>$selector</q> $text</li>\n";
            }
            $OUT .= "</ul>\n";
        }
    }}
    <div id='output'>
      <h3>Permalinks</h3>
      <ul id='fingerprint'>
        <li><a href='/css/{{$sha1}}'>output view</a></li>
        <li><a href='/css/{{$sha1}}/optimised'>optimised view</a></li>
        <li><a href='/raw/{{$sha1}}/original.css'>raw source</a></li>
        <li><a href='/raw/{{$sha1}}/output.css'>raw output</a></li>
        <li><a href='/raw/{{$sha1}}/optimised.css'>raw optimised</a></li>
      </ul>
      <h3>Code</h3>
      <pre {{ $flagged ? 'class="flagged"' : '' }} id='code'><code class='CSS'>{{$output}}</code></pre>
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="/static/copy.js"></script>
</div></body>
</html>
