{{
    %pages = @subnav;
    $page_title = defined $pages{ $page } ? $pages{ $page } : '';
    return;
}}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>CSS::Prepare•Documentation•{{ $page_title }}</title>
  <!--
  <link rel="stylesheet" href="/raw/T24XaGqKvRP90JJhNmI6rr4d2Ew/optimised.css">
  -->
  <link rel='stylesheet' href='/static/styles.css'>
  <!-- that's right, you can view the original CSS by editing that URL -->
</head>
<body><div id="body">
  
  <div id='crest'>
    <h1>CSS Prepare <em>experimental alpha</em></h1>
    <ul id='nav'>
      <li><a href='/'>Add some CSS</a></li>
      <li><em>How this works</em></li>
      <li><a href='/problems'>Having problems?</a></li>
      <li><a href='http://github.com/norm/CSS-Prepare/'>Source on
            github</a></li>
      <li>A project by <a href='http://marknormanfrancis.com/'>Mark 
            Norman Francis</a></li>
    </ul>
    <ul id='subnav'>{{
        while ( @subnav ) {
            my $url   = shift @subnav;
            my $title = shift @subnav;
            
            if ( $url eq $page ) {
                $OUT .= "<li><em>${title}</em></li>\n";
            }
            else {
                $OUT .= "<li><a href='${url}'>${title}</a></li>\n";
            }
        }
    }}
    </ul>
  </div>
  
  <div id="page" class="pod">
    {{ $pods{ $page } }}
  </div>

</div></body>
</html>