body {
    font-family: "Georgia";     /* replaces previous font-family */
}
ul, ol {
    margin-left: 2em;           /* ol&ul can no longer play the 
                                 * "margin:0;padding:0;" game */
}
li {
    margin-left: -2em;          /* ostracise li into its own rule set */
    list-style: disc inside;
}
